<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board | Home</title>
  </head>
  <body>
    <div>
      <h1><%= title %></h1>
      <a href="/new">Add a post</a>
    </div>
    <div>
      <% messages.map((msg) => { %>
      <h2><%= msg.username %></h2>
      <section><%= msg.text %></section>
      <strong><%= msg.added %></strong>
      <a href="/new/<%= msg.id %>">open</a>
      <% })%>
    </div>
  </body>
</html>
