<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MembersOnly! | Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <a href="/message/create">Create a new message</a>
    <a href="/user/logout">Logout</a>
    <h2>Messages</h2>
    <% if (messages){ %>
        <% messages.map((msg) => { %>
            <div>
                <h3><%= msg.title %></h3>
                <div><p><%= msg.message %></p></div>
                <small>By <%= msg.firstname %> <%= msg.lastname%> at <%= msg.updatedat || msg.createdat %></small>
                <br>
                <a href="/message/update/<%= msg.id %>">edit</a>
                <a href="/message/delete/<%= msg.id %>">delete</a>
            </div>
        <% }) %>
    <%}%>
  </body>
</html>
